@import "tailwindcss";

:root {
  --background: hsl(0 0% 99%);
  --foreground: hsl(200 15% 8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blue-900: hsl(209 23% 22%);
  --color-blue-950: hsl(207 26% 17%);
  --color-grey-50: hsl(0 0% 99%);
  --color-grey-400: hsl(0 0% 50%);
  --color-grey-950: hsl(200 15% 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207 26% 17%);
    --foreground: hsl(0 100% 100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
